@tailwind base;
@tailwind components;
@tailwind utilities;

.cls-1,
.cls-2 {
  fill: none;
  stroke: #818fb4;
  stroke-miterlimit: 10;
  stroke-width: 1.91px;
}

.cls-1 {
  stroke-linecap: square;
}

.spinner {
  animation: rotator 1.4s linear infinite;
  margin-block: 3rem;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
